<a href="https://colab.research.google.com/github/Ganesh0935/Python/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

Q1. Create one variable containing following type of data:

(i) string
(ii) list
(iii) float
(iv) tuple

In [27]:
name = "GaneshD"
details = [18,"UG","Rajahmundry"]
cgpa = 9.81
address = (534342,"Near SBI","9609333222")
print(name,type(name))
print(details,type(details))
print(cgpa,type(cgpa))
print(address,type(address))

GaneshD <class 'str'>
[18, 'UG', 'Rajahmundry'] <class 'list'>
9.81 <class 'float'>
(534342, 'Near SBI', '9609333222') <class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [28]:
var1 = '' # type is string
print(type(var1))
var2 = '[ DS , ML , Python]'   # type is String
print(type(var2))
var3 = ['DS' , 'ML' , 'Python' ] # type is list
print(type(var3))
var4 = 1 # type is int
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

Q3. Explain the following operators (i)/ (ii)% (iii)// (iv)**

In [29]:
print(10/3) # division
print(10%3) # modulus
print(10//3) # floor division(estimated to small integer)
print(10**3) # exponent

3.3333333333333335
1
3
1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [30]:
Movies = ["RRR",["BahubaliTheBeginning","BahubaliTheConclusion"],False,108,("KGFch1","KGFch2",1.5),2.0,True,'SithaRamam']
print(len(Movies))

8

In [36]:
for i in Movies:
  print(i,end="     ")
  print(type(i))

RRR     <class 'str'>
['BahubaliTheBeginning', 'BahubaliTheConclusion']     <class 'list'>
False     <class 'bool'>
108     <class 'int'>
('KGFch1', 'KGFch2', 1.5)     <class 'tuple'>
2.0     <class 'float'>
True     <class 'bool'>
SithaRamam     <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [48]:
Number_1 = int(input("Enter the Number_1: "))
Number_2 = int(input("Enter the Number_2: "))
count = 0
Num = Number_1
while True :
  if Num % Number_2 == 0:
    count += 1
    Num /= Number_2
  else:
    break

print(f"{Number_1} is divisible by {Number_2} of count:{count}")
print("{} is divisible by {} of count:{}".format(Number_1,Number_2,count))

Enter the Number_1: 10
Enter the Number_2: 2
10 is divisible by 2 of count:1
10 is divisible by 2 of count:1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [51]:
Nums = list(range(1,26))
for i in Nums:
  if i % 3 == 0:
    print(f"{i} is divisible by 3")
  else:
    print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [55]:
# Mutable - Data can be modified ex: List
# Immutable - Data cannot be modified ex: Tuple

films = ["RRR","Bahubali","KGF"]
print(films)
series = ("Friends","Game of Thrones","Breaking Bad")
films[2] = "Pushpa"
#series[2] = "Prison Break"  # it is an Error
print(films)
print(series)

['RRR', 'Bahubali', 'Pushpa']
('Friends', 'Game of Thrones', 'Breaking Bad')